<div id="wrapper" class="">
  <div class="info-compte container">
    <aside class="sidebar col-lg-2 col-md-2 col-sm-12 col-xs-12">
      <ul>
        <li class="active">
          <a href="/fr/account/compte.php">
            <div class="wrap-icon">
              <span class="glyphicon glyphicon-user"></span>
            </div>Gérer mes infos</a>
        </li>
        <li>
          <a href="/fr/account/fichecoach.php">
            <div class="wrap-icon">
              <span class="glyphicon glyphicon-user"></span>
            </div>Mes commandes</a>
        </li>
        <li>
          <a href="/fr/?logout">
            <div class="wrap-icon">
              <span class="glyphicon glyphicon-log-out"></span>
            </div>Se déconnecter</a>
        </li>
      </ul>
    </aside>
  </div>
</div>