<div class="col-md-12 title text-center">
  <h2> Liste des produits</h2>
  
  <table class="table table-striped">
    <thead>
    <tr>
      <th>id produit</th>
      <th>type</th>
      <th>nom</th>
      <th>date de parution</th>
      <th>interprete</th>
      <th>description</th>
      <th>prix</th>
      <th>stock</th>
      <th>photo</th>
      <th>supprimer produit</th>
    </tr>
    </thead>
    <tbody  ng-controller="listeproduits" ng-init="getProduits()">
    <tr *ngFor="let produit of produits">
      <td>{{produit.idProduit}}</td>
      <td>{{produit.type}}</td>
      <td>{{produit.nom}}</td>
      <td>{{produit.date_de_parution}}</td>
      <td>{{produit.interprete}}</td>
      <td>{{produit.description}}</td>
      <td>{{produit.prix}}</td>
      <td>{{produit.stock}}</td>
      <td>{{produit.photo}}</td>
      <td><button class="btn btn-danger" (click)="ajouter(produit)"> Ajouter</button></td>
      <td><button class="btn btn-danger" (click)="deleteProduit(produit)"> Delete</button></td>
    </tr>
    </tbody>
  </table>
  </div>