nav.navbar.navbar-expand-lg.navbar-dark {
    background: -webkit-linear-gradient(50deg,#e1bee7,#bbdefb)!important;
    background: -o-linear-gradient(50deg,#e1bee7,#bbdefb)!important;
    background: linear-gradient(40deg,#e1bee7,#bbdefb)!important;
}

