<!--Navbar-->
<mdb-navbar class="fond" SideClass="navbar navbar-expand-lg navbar-dark ">
    <logo>
  <a class="navbar-brand" routerLink="/accueil"><img src="{{head.logo}}"></a></logo>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-3" aria-controls="navbarSupportedContent-3" aria-expanded="false" aria-label="Toggle navigation" style="margin-right: 15px;">
      <span class="navbar-toggler-icon"></span>
    </button>
    <links>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link waves-light" mdbWavesEffect routerLink="/accueil">Accueil
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-light" mdbWavesEffect routerLink="/boutique"> {{head.boutique}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-light" mdbWavesEffect routerLink="/connexion"><i class="fa fa-sign-in"></i> {{head.connexion}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-light" mdbWavesEffect routerLink="/connexion"><i class="fa fa-user"></i> {{head.inscription}}</a>
          </li>
          <li class="nav-item">
              <a class="nav-link waves-light" mdbWavesEffect routerLink="/administrateur"> {{head.administrateur}}</a>
            </li>
            
          
        </ul>
        <ul class="navbar-nav ml-auto nav-flex-icons">
          <li class="nav-item">
            <a class="nav-link waves-light" mdbWavesEffect>
              <i class="fa fa-shopping-cart"></i>
            </a>
          </li>
          
          <li class="nav-item dropdown btn-group" dropdown>
            <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect><i class="fa fa-user"></i>
            </a>
            <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
              <a class="dropdown-item waves-light" href="#" mdbWavesEffect>Mon compte</a>
              <a class="dropdown-item waves-light" href="#" mdbWavesEffect>Mes commandes</a>
            </div>
          </li>
        </ul>
      </links>
</mdb-navbar>
  <!--/.Navbar -->

  

