.navbar{
    background: linear-gradient(135deg, #e1bee7,#bbdefb);
}

#recherche{
    background-image: url(src/img/venyl.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    background-position: center;
    margin: 0;
    padding: 0;
}

