<header class="h-100">
    <!--Navbar-->
   
      <!--/.Navbar -->
      <div class="view intro-2">
        <div class="full-bg-img">
          <div class="mask rgba-purple-light flex-center">
            <div class="container text-center white-text wow fadeInUp">
              <h1>Vous recherchez un produit ?</h1>
              <br>
              <p>Musynamic est la pour vous aider</p>
              <br>
              <form class="form-inline md-form form-sm active-cyan-2">
                <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Rechercher un produit" aria-label="Search" mdbInputDirective>
                
                <button class="btn aqua-gradient btn-rounded btn-sm my-0 waves-light" mdbWavesEffect type="submit"><i class="fa fa-search" aria-hidden="true"></i> Rechercher</button>
              </form>
              
            </div>
          </div>
        </div>
      </div>
      <!-- /.Main -->
    </header>


    
    <div class="container">
      <!--Section: Products v.4-->
      <section class="pb-3 text-center ">

        <!--Section heading-->
        <h2 class="h1 py-5">Our bestsellers</h2>
        <!--Section description-->
        <p class="grey-text mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse
          quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam.</p>

        <!--Grid row-->
        <div class="row">

          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4">

            <!--Collection card-->
            <div class="card collection-card z-depth-1-half">
              <!--Card image-->
              <div class="view zoom waves-light" mdbWavesEffect>
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/5.jpg" class="img-fluid" alt="">
                <div class="stripe dark">
                  <a>
                    <p>Red trousers
                      <i class="fa fa-angle-right"></i>
                    </p>
                  </a>
                </div>
              </div>
              <!--Card image-->
            </div>
            <!--Collection card-->

          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4">

            <!--Collection card-->
            <div class="card collection-card z-depth-1-half">
              <!--Card image-->
              <div class="view zoom waves-light" mdbWavesEffect>
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/8.jpg" class="img-fluid" alt="">
                <div class="stripe light">
                  <a>
                    <p>Sweatshirt
                      <i class="fa fa-angle-right"></i>
                    </p>
                  </a>
                </div>
              </div>
              <!--Card image-->
            </div>
            <!--Collection card-->

          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4">

            <!--Collection card-->
            <div class="card collection-card z-depth-1-half">
              <!--Card image-->
              <div class="view zoom waves-light" mdbWavesEffect>
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/9.jpg" class="img-fluid" alt="">
                <div class="stripe dark">
                  <a>
                    <p>Accessories
                      <i class="fa fa-angle-right"></i>
                    </p>
                  </a>
                </div>
              </div>
              <!--Card image-->
            </div>
            <!--Collection card-->

          </div>
          <!--Grid column-->

          <!--Fourth column-->
          <div class="col-lg-3 col-md-6 mb-4">

            <!--Collection card-->
            <div class="card collection-card z-depth-1-half">
              <!--Card image-->
              <div class="view zoom waves-light" mdbWavesEffect>
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/7.jpg" class="img-fluid" alt="">
                <div class="stripe light">
                  <a>
                    <p>Sweatshirt
                      <i class="fa fa-angle-right"></i>
                    </p>
                  </a>
                </div>
              </div>
              <!--Card image-->
            </div>
            <!--Collection card-->

          </div>
          <!--Fourth column-->

        </div>
        <!--Grid row-->

      </section>
      <!--Section: Products v.4-->
    </div>