<div class="col-md-12 title text-center">
    <h2> Liste des produits</h2>
    
    <table class="table table-striped">
      <thead>
      <tr>
        <th>type</th>
        <th>nom</th>

        <th>interprete</th>
        <th>description</th>
        <th>prix</th>
        <th>stock</th>
        <th>photo</th>
      </tr>
      </thead>
      <tbody  ng-controller="listeproduits" ng-init="getProduits()">
      <tr *ngFor="let produit of produits">
        
        <td>{{produit.type}}</td>
        <td>{{produit.nom}}</td>
       
        <td>{{produit.interprete}}</td>
        <td>{{produit.description}}</td>
        <td>{{produit.prix}}</td>
        <td>{{produit.stock}}</td>
        <td>{{produit.photo}}</td>

      </tr>
      </tbody>
    </table>
    </div>